<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Weather stations</title>
	<link rel="stylesheet" href="main.css"/>
</head>
<body>

<h1>Weather stations:</h1>

<p>API root <a href="/api">here</a></p>
<p>Observations <a href="/api/observations">here</a></p>


<div id="weather_container">

</div>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!-- Load our React component. -->
<script src="weather.js"></script>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>